In [1]:
import dummypy as rf
from dummypy.payoffs import PayoffSurface

In [2]:
grid = rf.Grid()
grid

Grid(n=10)

In [3]:
grid.goal_total()

     0   1   2   3   4   5   6   7   8   9  10
0    0   1   2   3   4   5   6   7   8   9  10
1    1   2   3   4   5   6   7   8   9  10  11
2    2   3   4   5   6   7   8   9  10  11  12
3    3   4   5   6   7   8   9  10  11  12  13
4    4   5   6   7   8   9  10  11  12  13  14
5    5   6   7   8   9  10  11  12  13  14  15
6    6   7   8   9  10  11  12  13  14  15  16
7    7   8   9  10  11  12  13  14  15  16  17
8    8   9  10  11  12  13  14  15  16  17  18
9    9  10  11  12  13  14  15  16  17  18  19
10  10  11  12  13  14  15  16  17  18  19  20

In [4]:
grid.goal_diff()

     0  1  2  3  4  5  6  7  8  9  10
0    0 -1 -2 -3 -4 -5 -6 -7 -8 -9 -10
1    1  0 -1 -2 -3 -4 -5 -6 -7 -8  -9
2    2  1  0 -1 -2 -3 -4 -5 -6 -7  -8
3    3  2  1  0 -1 -2 -3 -4 -5 -6  -7
4    4  3  2  1  0 -1 -2 -3 -4 -5  -6
5    5  4  3  2  1  0 -1 -2 -3 -4  -5
6    6  5  4  3  2  1  0 -1 -2 -3  -4
7    7  6  5  4  3  2  1  0 -1 -2  -3
8    8  7  6  5  4  3  2  1  0 -1  -2
9    9  8  7  6  5  4  3  2  1  0  -1
10  10  9  8  7  6  5  4  3  2  1   0

In [5]:
payoff = PayoffSurface(line=1)

payoff.line.is_quarter_line(), payoff.line.is_half_line(), payoff.line.is_unit_line()

(False, np.False_, np.True_)

In [6]:
payoff = PayoffSurface(line=-0.25)
payoff.asian_handicap()

      0    1    2    3    4    5    6    7    8    9   10
0  -0.5 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0
1   1.0 -0.5 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0
2   1.0  1.0 -0.5 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0
3   1.0  1.0  1.0 -0.5 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0
4   1.0  1.0  1.0  1.0 -0.5 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0
5   1.0  1.0  1.0  1.0  1.0 -0.5 -1.0 -1.0 -1.0 -1.0 -1.0
6   1.0  1.0  1.0  1.0  1.0  1.0 -0.5 -1.0 -1.0 -1.0 -1.0
7   1.0  1.0  1.0  1.0  1.0  1.0  1.0 -0.5 -1.0 -1.0 -1.0
8   1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0 -0.5 -1.0 -1.0
9   1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0 -0.5 -1.0
10  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0 -0.5

In [7]:
payoff = PayoffSurface(line=5.5)
payoff.over_under()

df = payoff.grid.goal_total()
self = payoff
lower, upper = self.line.bounds()
payoff_lower = self._core_payoff(df - lower)
payoff_upper = self._core_payoff(df - upper)
0.5 * (payoff_lower + payoff_upper)
# lower, upper
# df - lower
# df - upper

      0    1    2    3    4    5    6    7    8    9   10
0  -1.0 -1.0 -1.0 -1.0 -1.0 -1.0  1.0  1.0  1.0  1.0  1.0
1  -1.0 -1.0 -1.0 -1.0 -1.0  1.0  1.0  1.0  1.0  1.0  1.0
2  -1.0 -1.0 -1.0 -1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
3  -1.0 -1.0 -1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
4  -1.0 -1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
5  -1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
6   1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
7   1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
8   1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
9   1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
10  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0